* {
    margin: 0;
    padding: 0;
    font-family: verdana;
}


.navigasi {
    background-coLor: #3b4997;
    width: 100%;
    height: 70px;
    color: white;
    position: fixed;
}


.logo {
float: left;
padding-top : 20px;
padding-bottom: 10px;
padding-Left: 30px;
}

.menu {
    margin-Left:800px;
    padding-top:27px;
}


.menu ul li{
    List-style: none;
    display: inline-block;
    margin-right: 50px;
}


.menu ul li a {
    text-decoration: none;
    coLor: white;

}

.menu ul li a: hover {
    color: lightskyblue;
    font-style: italic;
}


.banner {
    background-color: #3b5999;
    height: 600px;
    text-align: center;
    color: white;
}

.banner img{
    border-radius: 100px;
    height: 150px;
    border: 6px solid white;
    margin-top: 100px;


}

.banner h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}


.banner button {
    margin-top: 60px;
    padding: 10px;
    width: 400px;
    border-radius: 50px;
    border: none;
}

.banner button:hover {
    background-color:#3b5999;
    border:1px solid white;
    color: white
}

h1 span:before{
    content:'';
    animation: gerak infinite 8s ease;
    transform: translateY(-50%);
    color: lightb;ue;
    font-family: 70fx;
}

@keyframes gerak {
    0% {
        content: 'Selamat Datang';
    }

    50% {
        content: 'Saya Aurelia Chiara';
    }
   
    100% {
        content : 'Terimakasih Sudah Singgah!';
    }
}


.box-pendidikan {
    text-align: center;
    color: #4d4d4d;
    margin-top : 90px;
    align-content : center;
}


.box-kiri, .box-tengah, .box-kanan {
    width: 300px;
    height: 320px;
    background-color: #f0f0ff0;
    text-align: center;
    padding: 30px 30px;
    margin: 70px 20px 20px 55px;
    boder-radius: 10px;
    float: left;
}


.box-kiri:hover, .box-tengah:hover, .box-kanan:hover {
    background-color: #3b5999;
    color: white;
}

.box oendidikan h3,p{
   
    margin-top: 10px;
    margin-bottom: 13px;
    padding: 0px 20px;
}

.boxsoftskill {
    text-align: center;
    color: #4d4d4d;
    margin: 0px auto;
    margin-top:560px;
}

.box-softskill  h3,p{
    margin-top: 10px;
    margin-bottom: 13px;
    padding: 0px 20px;
}

.box-kontak img{
    width: 100px;
    margin-top: : 50px;
    margin-bottom: 30px;
}

.box-kontak {
    text-align: center;
    color: #4d4d4d
    margin-top: 500px;
}

.fotter {
    background-color:grey;
    width: 100%;
    height: 40px;
    color: white;
    padding: 3px;
    margin: 50px auto 0px;
}
}
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   











    