@import url('https://fonts.googleapis.com/css')
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.sidebar{
  position: fixed;
  left: -240px;
  width: 240px;
  height: 100%;
  background: rgb(128, 194, 224);
  transition: all .5s ease;
}
.sidebar header{
  color: rgb(214, 139, 185);
  font-size: 35px;
  line-height: 70px;
  text-align: center;
  background: #000000;
  user-select: none;
  font-family: 'Montserrat' sans-serif;
}
.sidebar a{
  display: block;
  color: rgb(7, 0, 3);
  height: 65px;
  width: 100%;
  line-height: 0px;
  padding-left: 40px;
  border-bottom: 1px solid rgba(255,255,255,.1);
  border-top: 1px solid black;
  border-left: 5px solid plum;
  box-sizing: border-box;
  transition: all .5s ease;
  font-family: 'Open Sans', sans-serif;
}
a:hover, a.active{
  border-center: 25px solid #b93632;
  color: #b93632;
}
.sidebar a i{
  font-size: 80px;
  margin-right: 28px;
}
.sidebar a span{
  letter-spacing: 2px;
  text-transform: capitalize;
}
#check{
  display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #262626;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 45px;
    color: rgb(241, 132, 187);
    font-size: 60px;
    border-radius: 15px;
    margin: 25px 35px;
    border: 3px solid #262626;
    transition: all .5s ease;
  }
  label #cancel{
    opacity: 0;
    visibility: visible;
  } 
  #check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
}
#check:checked ~ .sidebar{
  left: 0;
}
@media (max-width: 860px) {
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 150px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 26px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover{
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}



  

