*{
    padding: 0;
    margin: 0;
}
*{
    color:inherit;
    text-decoration: none;
}
.Medsos{

    padding: 10px 0;
    bacKground-color:rgb(240, 167, 197);
}
.Medsos ul li{
    display:inline-block;
    color: rgb(27, 14, 18);
    font-size: 30px;
    margin-right: 15px;}
.container{
    width: 80%;
    margin:0 auto;
}
header{
    font-family: 'franklin gothic medium', 'Arial Narrow', Arial, sans-seriF;
}


header h1{
    float:left;
    padding:30px 45px;
    color: rgb(122, 55, 113);
}
header ul{
    float:right;
}
header ul li{
    display: inline-block;
}
header ul li
{
    padding: 45px 55px;
    display : inline-block;
}
header ul li a:hover
{
    background-color:rgb(201, 64, 139);
    color:rgb(236, 139, 215);
}
.active
{ background-color:rgb(170, 77, 106);
    color:rgb(225, 169, 236);
}
.banner
{
    height: 100vh;
    width:100%
    border:10px solid;
    background-image: url(../);
    background-size: cover;
    positionn:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner:after{
    content: "";
    display: block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
}
.banner h1{
    color:blueviolet
    background-color: black;
    font-size:50px;
    z-index: 1;
    padding:5px 5px;
    border: 5px solid white;
}

footer{
    padding:2px 0;
    background-color:black;
    text-align: center;
    color:aliceblue;
}
footer small{
    font-family:times new roman;
}

.main{
    width:700px;
    height:700px;
    background-color: rgb(240, 203, 218);
    margin: 150px auto;
    padding-top:30px;
    border-radius:8px;
    border: 2px; solid rgb(218, 119, 152);
}
,main-1{
    width:1350px;
    height:670px;
    background-color:azure;
    margin: 5px auto;
    padding-top:20px;
    border-radius:10px;
    border:1px solid azure;
}

.img{
    background-image: url(../images/unch.jpeg);
    background-size: cover;
    border-radius: 100px;
    width:180px;
    height:180px;
    margin: 70px; auto;
    border: 12px solid rgb(219, 156, 166);
}
.img h2{
    text-align: center;
    font-size: 50px;
    margin:0;
    font-height: bold;
}
.text{
    text-align: center;
    font-size: 15px;
    margin: 10px;
    color:bisque;
}
.text p{
    margin:50px auto;
    padding-top: 10px;
    width:45px;
    height:auto;
    color: peachpuff;
}
.body{
    background-size: cover;
    text-align: center;
    font-family: 'quicksand',sans-serif;
    height: 100vh;
    width:100%
    border:20px solid;
    background-image: url(../images/bg.png);
    background-size: cover;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.body ul{
    margin-left:-45px;

}
.body li{
    list-style: none;
    display: inline-block;
    margin:30px 5px;
    text-align: center;
    }
    .main-2{
        width:990px;
        height:260px;
        background-color:rgb(209, 147, 173);
        margin: 50px auto;
        padding-top:50px;
        border-radius:3px;
        border: 2px; solid pink;
        width:100%;
    }
    .main-2 table {
        background-color:rgb(255, 212, 226);
        width: 220px;
        height: 220px;
        margin: 50px auto;
        padding-inline:40%;
        border-radius: 3px;
        column-gap: normal;
       padding-top: 40px;
       scroll-padding-block-end:20px; 
        padding-bottom: 50px;
        text: align 300px; 



